<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Upload Image</h1>
    <center>
      <form action="/uploadphoto" enctype="multipart/form-data" method="POST">
        <input type="Name" name="title" placeholder="Title of Image" />
        <br />
        <br />
        <br />

        <input type="file" name="myImage" accept="image/*" />
        <!-- <br />
        <br />
        <br /> -->
        <input type="submit" value="Upload Photo" />
      </form>
    </center>
  </body>
</html>
